<!DOCTYPE html><!-- essentiel pour ecrire du html -->
<html><!-- indique le code html -->
    <head><!-- indique la tête du html -->
        <meta charset="utf-8" ><!-- indique que l'necodage est en utf-8 -->
        <title>recettes des cookies</title><!-- indique le titre de l'onglet -->
        <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    </head><!-- indique la fermeture de la tête du html -->
    <body><!-- corps du html -->
		
		{{message|safe}}
		<!-- indique ce qu'affiche le serveur et le safe est pour mettre du code html avec jinja -->
		 <ul id="navigation"><!-- liste non ordonnée avec pour id navigation --> 
    {% for item in navigation %}<!-- boucle for sur la liste -->
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li><!-- consitituant de la liste qui contient des liens -->
    {% endfor %}<!-- fin de la boucle -->
		</ul><!-- fermeture de la liste -->
		<h1>My Webpage</h1><!-- titre de la page -->
    {{ a_variable }}<!-- variable coté jinja -->
    {# a comment #}<!-- commentaire jinja -->
		
			<form action="javascript: void(0);" method="POST" onsubmit="verifieCocher(this);location.reload();"><!-- formulaire qui fait une requete post submit est un bouton qui quand on appuie dessus envoie vers une fonction-->
				<label>A</label><input type="checkbox" name="A"><!-- le label est l'etiquette qui indique a l'utilisateur ce que fait input ici input est un checkbox -->
				<label>B</label><input type="checkbox" name="B"><!-- indique un autre checkbox qui est B biensur il y a input et label -->
				<input type="text" name="text" >
				<input type="submit" value="ok"><!-- bouton qui execute le formulaire en fonction de ce qu'a cocher l'utilisateur -->
			</form><!-- indique la fermeture du formulaire donc le prochain code ne sera pas le formulaire -->
			
		{% raw %}
		
			<div id="app">

			
				<button @click="action">coucou</button>
				<ul>
					<li v-for="(user,users) in donnee">{{ users }}={{user}}</li>
				</ul>
				<form  action="javascript: void(0);" name="form" method="GET" @submit="bon_login" onsubmit="location.reload();"  ><!-- formulaire qui n'a pas d'action qui a pour nom form et pour method get 
				et le submit envoi vers une fonction et le submit recharge la page -->
					<label>login:</label><input v-model="login"><!-- l'utilisateur doit taper son login -->
					<label>password:</label><input type="password" v-model="password"><!-- l'utilisateur doit taper son mot de passe -->
					<input type="submit" value="ok"><!-- bouton pour executer formulaire -->
				</form><!-- fermeture du formulaire --> 
					<button @click="requete">GET</button><!-- bouton qui envoie vers une fonction qui affiche les donnee du json -->
				
					
					<!-- formulaire qui n'a pas d'action et qui a un bouton qui envoie vers la fonction changer et a l'interieur de la liste il y a un v-html qui affiche les resultat de la fonction requete
					puis le bouton du formulaire qui est invisible tant que l'utilisateur n'a pas appuyer sur le bouton get -->	
  		  
			
				<form action="javascript: void(0);" @submit="changer">
						
					<my-recursive-component
							:payload="data1"
							:depth="0"
						  >
							
						  </my-recursive-component>
					
						<script type="text/x-template" id="my-recursive-component">
						
						  <div>
							<div 
							  v-if="type === 'obj'" :style="indent">
							  <div v-for="item in list" >
								{{item}}
								<my-recursive-component
								  :payload=payload[item]
								  :depth="depth + 1"
								  
								  >
								 <my-recursive-component/>
							   </div>
							</div>
							<div 
							  v-if="type === 'value'" :style="indent">
							
							  
								<input v-model="payload">
								
							</div>
							
						  </div>
						  
					</script>
					  <input id="ok" style="display:none;" type="submit" value="ok"></form></div>
					   <table>
						<tbody id="monLabyrinthe">
						</tbody>
					</table>
		<script src="static/front.js">	
		</script>
		<div id="jardin"></div>
	{% endraw %}
    </body><!-- fermeture du corps html -->
</html><!-- fermeture du code html -->
